/* Copy dnd styles */

.react-beatiful-dnd-copy ~ div {
  transform: none !important;
}

.react-beatiful-dnd-copy ~ [data-rbd-placeholder-context-id] {
  display: none !important;
}

/* Tree styles  */
.MuiTreeItem-content:hover {
  background-color: #e6fffa !important;
}

.MuiTreeItem-content .Mui-focused {
  /* teal.50 */
  background-color: #e6fffa !important;
}

.Mui-focused {
  background-color: #e6fffa !important;
  /* background-color: #1d4044 !important; TODO */
}
.Mui-expanded {
  background-color: #e6fffa !important;
}
