.description > .DraftEditor-root {
  /* border: 1px solid #000; */
  /* yellow.50 */
  background-color: #fffff0;
  height: 25vh;
  width: '100%';
  /* overflow-y: auto; */
}
.description > .DraftEditor-editorContainer,
.description > .public-DraftEditor-content {
  /* height: 100%; */
}
